---
layout: default
title: 
---

<section class="blog single">
	<div id="about" class="intro slide">
		<div class="about-container">
			<h1>Felipe <b>Lobel</b></h1>

			<ul class="author-info">
				<li class="author-info__item"><a href="mailto:lobel@berkeley.com">lobel@berkeley.com</a></li>
				<li class="author-info__item">
					530 Evans Hall, Office #650 - Berkeley, CA - 94720<br/>
				</li>
			</ul>

			<h6 class="about_bio">
				I am a fifth-year PhD candidate in the <a href="https://www.econ.berkeley.edu/grad/profiles"> <u>Economics Department</u> 
				</a> at the University of California, Berkeley. I am also a researcher at 
				the <a href="https://ls.berkeley.edu/UC-Berkeley-Stone-Center"> <u>Stone Center on Wealth and Income Inequality</u> 
				</a>, and a Graduate Student Fellow at 
				the <a href="https://www.law.berkeley.edu/research/leap/people/"> <u>Law, Economics, and Politics Center</u> 
				</a> at UC Berkeley School of Law. My research interests are on Public, Labor and Development Economics. 
				Find me on Twitter <a href="https://twitter.com/FelipeLobel"> <u>here</u> 
				</a>
			</h6>
		</div>
	</div>

	<div class="wrap">
		{% for research in site.projects %}
			<div id="{{research.slug}}" class="slide">
				<h2 class="section-title">{{ research.title }}</h2>

				{% for paper in research.papers %}
					<article class="proj-card">
						<header class="proj-card__item proj-head">
							<div class="proj-head__eyebrows">
								<div class="proj-label">
									{% if research.slug == 'working-papers' %}
										Working Papers
									{% else if research.slug == 'work-in-progress' %}
										Work in work-in-progress
									{% endif %}
								</div>
								<!-- <div class="proj-label proj-label--light">Microeconomics</div> -->
							</div>

							<h2 class="proj-head__title">
								<a href="{{paper.link}}" target="_blank">{{ paper.title }}</a>
							</h2>

							<div class="proj-head__meta">
								<p class="proj-meta__item proj-byline">
									{{ paper.byline }}
								</p>

								{% if paper.journal %}
								<p class="proj-meta__item proj-publication">
									{% if paper.status %}{{ paper.status }}, {% endif %}<b>{{ paper.journal }}</b>{% if paper.date %}, {{ paper.date }}{% endif %}
								</p>
								{% endif %}

							</div>
						</header>

						<figure class="proj-card__item proj-thumbnail">
							<img src={{paper.thumbnail}} alt="project thumbnail"/>
						</figure>

						<div proj-card__item >
							{% if paper.excerpt %}
							<div class="proj-excerpt">
								<p><span>Abstract:</span> {{ paper.excerpt }}</p>
							</div>
							{% endif %}

							<!-- <ul class="proj-links">
								<li class="proj-link__item"><a class="" href="#" target="_blank">Project version</a></li>
								<li class="proj-link__item"><a class="" href="#" target="_blank">Appendix</a></li>
								<li class="proj-link__item"><a class="" href="#" target="_blank">Replication code</a></li>
							</ul> -->
					</article>
				{% endfor %}
			</div>
		{% endfor %}
	</div>
</section>

{% if paginator.total_pages > 1 %}

<section class="pagination">
	{% if paginator.previous_page %}
	<div class="pagination__prev">
		<a href="{{ paginator.previous_page_path | relative_url }}" class="button button--large"><i class="fa fa-angle-left" aria-hidden="true"></i> <span>Newer Posts</span></a>
	</div>
	{% endif %}
	{% if paginator.next_page %}
	<div class="pagination__next">
		<a href="{{ paginator.next_page_path | relative_url }}" class="button button--large"><span>Older Posts</span> <i class="fa fa-angle-right" aria-hidden="true"></i></a>
	</div>
	{% endif %}
</section>

{% endif %}
