---
layout: default

social:
 - title: Twitter
   url: https://twitter.com/FelipeLobel
   class: twitter
   cta: Follow me on twitter
 - title: email
   url: mailto:lobel@berkeley.edu
   class: mail
   cta: Email me
 - title: cv
   url: /assets/Lobel_CV.pdf
   class: cv
   cta: My cv
---

<section class="blog single">
	<div id="home" class="intro slide">
		<div class="about-container">
			<h1>Felipe Lobel</h1>

			<ul class="author-info">
				<li class="author-info__item"><a href="mailto:lobel@berkeley.edu" target="_blank">lobel@berkeley.edu</a></li>
				<li class="author-info__item"> <a href="https://www.econ.berkeley.edu/grad/profiles" target="_blank"> PhD Candidate in Economics</a> <br/>
			</ul>

			<img class="tablet-only headshot" src="./images/felipe-lobel-v4.jpg" alt="Felipe Lobel headshot"/>

			<h6 class="about_bio">
				I am a sixth-year PhD candidate in the Economics Department
				at the <a>University of California, Berkeley</a>. My research interests are on <a>Public</a> and <a>Labor Economics</a>.
			</h6>

			<div class="social-container">
				{% for icon in page.social %}
					<a class="social-icon--link {{ icon.class }}" href="{{ icon.url }}">
						{% include {{ icon.class | prepend: '/svgs/' | append: '.svg' }} %}
						<span class="social-icon--title visuallyHidden">
							{% if icon.cta %}
								{{ icon.cta }}
							{% else %}
								{{icon.title}}
							{% endif %}
						</span>
					</a>
				{% endfor %}
			</div>
		</div>
	</div>


	<div class="wrap">
		{% assign sorted = site.projects | sort: 'order' %}
		{% for research in sorted %}
			<div id="{{research.slug}}" class="slide">
				<h2 class="section-title">{{ research.title }}</h2>
 
				{% for paper in research.papers %}
					<article class="proj-card">
						<header class="proj-card__item proj-head">
							<div class="proj-head__eyebrows">
								{% for tag in paper.tags %}
									<div class="proj-label">{{tag.label}}</div>
								{% endfor %}
							</div>

							<h2 class="proj-head__title">
								<a href="{{paper.link}}" target="_blank" rel="noopener noreferrer">{{ paper.title }}</a>
							</h2>

							<div class="proj-head__meta">
								<p class="proj-meta__item proj-byline">
									{{ paper.byline }}
								</p>

								{% if paper.journal %}
								<p class="proj-meta__item proj-publication">
									{% if paper.status %}{{ paper.status }}, {% endif %}<b> {{ paper.journal }} </b> {% if paper.date %}, {{ paper.date }}{% endif %}
								</p>
								{% else %}

								<p class="proj-conference">
									{% if paper.presentation %} <span style="color: #230C51; font-weight: bold; font-size: 14px;"> Presented: </span> {{ paper.presentation }}{% endif %}
								</p>
								{% endif %}

								{% if paper.award %}
								<p class="proj-award">
									<b> <span style="color: #230C51; font-weight: bold; font-size: 14px;"> Award: </span> {{ paper.award }} </b>
								</p>
								{% endif %}

								{% if paper.draft %}
								<p class="proj-draft">
									{{ paper.draft }}
								</p>
								{% endif %}

							</div>

						</header>

						<figure class="proj-card__item proj-thumbnail">
							<img src={{paper.thumbnail}} alt="project thumbnail"/>
						</figure>

						<div class="proj-card__item" >
							{% if paper.excerpt %}
							<div class="proj-excerpt readmore is-closed">
								<p class="line-clamp">
									
									<span style="font-weight: bold; color: black;text-decoration:underline;"> Abstract:</span> {{ paper.excerpt }}
								</p>
								<button class="readmore-btn open">Read more</button>
								<button class="readmore-btn close">Read less</button>
							</div>
							{% endif %}

					</article>
				{% endfor %}
			</div>
		{% endfor %}
	</div>


<!-- \\ Teaching Section -->

	<div class="wrap" id="teaching">
		<div class="slide">
			<h2 class="section-title">
				Teaching
			</h2>

				<div class="teach-university">
					UC Berkeley
				</div>

					<div class="teach-level">
						MBA
					</div>

						<div class="teach-class">
							MBA 200S: Data and Decision
						</div>

							<div class="teach-professor">
								Full time MBA program (Professor: Reed Walker), 2019
							</div>

						<div class="teach-class">
								EWMBA 200S: Data and Decision
						</div>
	
							<div class="teach-professor">
								Executive MBA program (Professor: Fred Finan), 2020
							</div>

					<div class="teach-level">
						PhD
					</div>
		
						<div class="teach-class">
							ECON 204: Math Camp
						</div>
		
							<div class="teach-professor">
								First year Haas PhD core class (Professor: Chris Shannon), 2019 and 2020
							</div>
		
						<div class="teach-class">
							ECON 230B: Public Economics
						</div>
			
							<div class="teach-professor">
								Second year Econ PhD elective class (Professor: Emmanuel Saez), 2021 and 2022
							</div>

					<div class="teach-level">
						Undergraduate
					</div>
				
						<div class="teach-class">
							ECON 131: Public Economics
						</div>
				
							<div class="teach-professor">
								Undergraduate class (Professor: Emmanuel Saez), 2021
							</div>


				<div class="teach-university">
					EPGE-FGV (Getulio Vargas Foundation)
				</div>
			
					<div class="teach-level">
						MBA
					</div>
			
						<div class="teach-class">
							Microeconomics
						</div>
			
							<div class="teach-professor">
								Executive MBA core class (Professor: Carlos Eugênio da Costa), 2016
							</div>
			
					<div class="teach-level">
						PhD
					</div>
					
						<div class="teach-class">
							Game Theory
						</div>
					
							<div class="teach-professor">
								First year PhD core class (Professor: Luís Braido), 2016
							</div>
					
						<div class="teach-class">
							Econometrics
						</div>
						
							<div class="teach-professor">
								First year PhD core class (Professor: Marcelo Moreira), 2016
							</div>
		</div>
	</div>
</section>




{% if paginator.total_pages > 1 %}

<section class="pagination">
	{% if paginator.previous_page %}
	<div class="pagination__prev">
		<a href="{{ paginator.previous_page_path | relative_url }}" class="button button--large"><i class="fa fa-angle-left" aria-hidden="true"></i> <span>Newer Posts</span></a>
	</div>
	{% endif %}
	{% if paginator.next_page %}
	<div class="pagination__next">
		<a href="{{ paginator.next_page_path | relative_url }}" class="button button--large"><span>Older Posts</span> <i class="fa fa-angle-right" aria-hidden="true"></i></a>
	</div>
	{% endif %}
</section>

{% endif %}
