---
layout: default

social:
 - title: Twitter
   url: https://twitter.com/FelipeLobel
   class: twitter_v2
   cta: Follow me on twitter
 - title: email
   url: mailto:felipe.lobel@duke.edu
   class: mail_v2
   cta: Email me
 - title: cv
   url: https://felipelobel.com/assets/Lobel_CV.pdf
   class: cv_v5
   cta: My cv
   target: _blank
   rel: noopener noreferrer
---

<section class="blog single">
	<div id="home" class="intro slide">
		<div class="about-container">
			<h1 class="page-name page-name--desktop">Felipe Lobel</h1>

			<!-- <ul class="author-info">
				<li class="author-info__item"><a href="mailto:lobel@berkeley.edu" target="_blank">lobel@berkeley.edu</a></li>
				<li class="author-info__item"> <a href="https://www.econ.berkeley.edu/grad/profiles" target="_blank"> PhD Candidate in Economics</a> <br/>
			</ul> -->

			<img class="tablet-only headshot" src="./images/felipe-lobel-v4.jpg" alt="Felipe Lobel headshot"/>


			<div class="about_bio_field">
				<!-- I am a public economist. My research combines theory and large administrative datasets to gain insight into economic behavior and inform public policy discourse on issues of <a>business taxation</a> and <a>inequality</a>. I completed my PhD in Economics at UC Berkeley. -->

				I combine theory and large administrative data to study how corporate behavior and public policy interact in the presence of market failures. Building on this, my recent work examines business taxation, cash transfers, and housing policy. I completed my PhD in Economics at <a>UC Berkeley</a>.
			</div>

			<!-- <div class="about_bio_field">
				I completed my PhD in Economics at <a>UC Berkeley</a>. You can find my CV <a href="https://felipelobel.com/assets/Lobel_CV.pdf" target="_blank"> here</a>.
			</div> -->

			<div class="about_bio_appointment">
				<a>Current and upcoming appointments:</a>
			</div>

			<h6 class="about_bio">
				Duke University, Assistant Professor of Economics (2026-)<br>
				Stanford University, SIEPR and GSB Postdoctoral Fellow (2025-2026)
			</h6>

			<div class="social-container">
				{% for icon in page.social %}
					<a class="social-icon--link {{ icon.class }}" href="{{ icon.url }}" target="_blank">
						{% include {{ icon.class | prepend: '/svgs/' | append: '.svg' }} %}
						<span class="social-icon--title visuallyHidden">
							{% if icon.cta %}
								{{ icon.cta }}
							{% else %}
								{{icon.title}}
							{% endif %}
						</span>
					</a>
				{% endfor %}
			</div>
		</div>
	</div>


	<div class="wrap">
		{% assign sorted = site.projects | sort: 'order' %}
		{% for research in sorted %}
			<div id="{{research.slug}}" class="slide">
				<h2 class="section-title">{{ research.title }}</h2>
 
				{% for paper in research.papers %}
					<article class="proj-card{% unless paper.thumbnail %} proj-card--no-thumb{% endunless %}">
						<header class="proj-card__item proj-head">
							<div class="proj-head__eyebrows">
								{% for tag in paper.tags %}
									<div class="proj-label">{{tag.label}}</div>
								{% endfor %}
							</div>

							<h2 class="proj-head__title">
								{% if paper.link %}
									<a href="{{paper.link}}" target="_blank" rel="noopener noreferrer">{{ paper.title }}</a>
								{% else %}
									{{ paper.title }}
								{% endif %}
							</h2>

							<div class="proj-head__meta">
								<p class="proj-meta__item proj-byline">
									{{ paper.byline }}
								</p>

								{% if paper.journal %}
								<p class="proj-meta__item proj-publication">
									{% if paper.status %}{{ paper.status }}, {% endif %}<b> {{ paper.journal }} </b> {% if paper.date %}, {{ paper.date }}{% endif %}
								</p>
								{% else %}

								<p class="proj-conference">
									{% if paper.presentation %} <span style="color: #230C51; font-weight: bold; font-size: 14px;"> Presented: </span> {{ paper.presentation }}{% endif %}
								</p>
								{% endif %}

								{% if paper.award %}
								<p class="proj-award">
									<b> <span style="color: #230C51; font-weight: bold; font-size: 14px;"> Award: </span> {{ paper.award }} </b>
								</p>
								{% endif %}

								{% if paper.media %}
								<p class="proj-award">
									<b> <span style="color: #230C51; font-weight: bold; font-size: 14px;"> Media: </span> {{ paper.media }} </b>
								</p>
								{% endif %}

								{% if paper.draft %}
								<p class="proj-draft">
									{{ paper.draft }}
								</p>
								{% endif %}
							</div>
						</header>

						{% if paper.thumbnail %}
							<figure class="proj-card__item proj-thumbnail">
								<img src={{paper.thumbnail}} alt="project thumbnail"/>
							</figure>

							<div class="proj-card__item" >
								{% if paper.excerpt %}
								<div class="proj-excerpt readmore is-closed">
									<p class="line-clamp">
										
										<span style="font-weight: bold; color: black;text-decoration:underline;"> Abstract:</span> {{ paper.excerpt }}
									</p>
									<button class="readmore-btn open">Read more</button>
									<button class="readmore-btn close">Read less</button>
								</div>
								{% endif %}
							</div>
						{% endif %}
					</article>
				{% endfor %}
			</div>
		{% endfor %}
	</div>


<!-- \\ Teaching Section -->

	<div class="wrap" id="teaching">

		<div class="slide">
			<h2 class="section-title">
				Teaching
			</h2>

				<div class="teach-university">
					UC Berkeley
				</div>

					<div class="teach-level">
						MBA
					</div>

						<div class="teach-class">
							MBA 200S: Data and Decision
						</div>

							<div class="teach-professor">
								Full time MBA program (Professor: Reed Walker), 2019
							</div>
							<div class="teach-professor">
								Evaluation: 7.0/7.0
							</div>							

						<div class="teach-class">
								EWMBA 200S: Data and Decision
						</div>
	
							<div class="teach-professor">
								Executive MBA program (Professor: Fred Finan), 2020
							</div>
							<div class="teach-professor">
								Evaluation: 7.0/7.0
							</div>					

					<div class="teach-level">
						PhD
					</div>
		
						<div class="teach-class">
							ECON 204: Math Camp
						</div>
		
							<div class="teach-professor">
								First year Haas PhD core class (Professor: Chris Shannon), 2019 and 2020
							</div>
		
						<div class="teach-class">
							ECON 230B: Public Economics
						</div>
			
							<div class="teach-professor">
								Second year Econ PhD elective class (Professor: Emmanuel Saez), 2021 and 2022
							</div>

					<div class="teach-level">
						Undergraduate
					</div>
				
						<div class="teach-class">
							ECON 131: Public Economics
						</div>
				
							<div class="teach-professor">
								Undergraduate class (Professor: Emmanuel Saez), 2021
							</div>


				<div class="teach-university">
					EPGE-FGV (Getulio Vargas Foundation)
				</div>
			
					<div class="teach-level">
						MBA
					</div>
			
						<div class="teach-class">
							Microeconomics
						</div>
			
							<div class="teach-professor">
								Executive MBA core class (Professor: Carlos Eugênio da Costa), 2016
							</div>
			
					<div class="teach-level">
						PhD
					</div>
					
						<div class="teach-class">
							Game Theory
						</div>
					
							<div class="teach-professor">
								First year PhD core class (Professor: Luís Braido), 2016
							</div>
					
						<div class="teach-class">
							Econometrics
						</div>
						
							<div class="teach-professor">
								First year PhD core class (Professor: Marcelo Moreira), 2016
							</div>
		</div>
	</div>
</section>




{% if paginator.total_pages > 1 %}

<section class="pagination">
	{% if paginator.previous_page %}
	<div class="pagination__prev">
		<a href="{{ paginator.previous_page_path | relative_url }}" class="button button--large"><i class="fa fa-angle-left" aria-hidden="true"></i> <span>Newer Posts</span></a>
	</div>
	{% endif %}
	{% if paginator.next_page %}
	<div class="pagination__next">
		<a href="{{ paginator.next_page_path | relative_url }}" class="button button--large"><span>Older Posts</span> <i class="fa fa-angle-right" aria-hidden="true"></i></a>
	</div>
	{% endif %}
</section>

{% endif %}
