.about_bio {
	// font-family: $body-font;
	font-family: sans-serif;
	font-weight: normal;
	color: black;
	line-height: 2;
    font-size: 20px;
    padding-top: 2px;
	text-align: left;
	letter-spacing: 0.1px;
	
	a {
        font-weight:500;
		color: #230C51;
    }
}


.about_bio_field {
	// font-family: $body-font;
	font-family: sans-serif;
	font-weight: normal;
	color: black;
	line-height: 1.8;
    font-size: 20px;
    padding-top: 30px;
	text-align: left;
	letter-spacing: 0.1px;
	
	a {
        font-weight:500;
		color: #230C51;
    }
}

.about_bio_jm {
	// font-family: $body-font;
	font-family: sans-serif;
	font-weight: normal;
	color: black;
	line-height: 1.5;
    font-size: 20px;
    padding-top: 55px;
	padding-bottom: -35px;
	text-align: left;
	letter-spacing: 0.1px;
	
	a {
        font-weight:700;
		color: #230C51;
    }
}