.about_bio {
	// font-family: $body-font;
	font-family: sans-serif;
	font-weight: normal;
	color: #230C51;
	line-height: 1.5;
    font-size: 25px;
    padding-top: 40px;
	text-align: left;
	letter-spacing: 0.1px;
	
	a {
        font-weight:400;
    }
}

